@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 265 56% 12%;
        --card: 0 0% 100%;
        --card-foreground: 265 56% 12%;
        --popover: 0 0% 100%;
        --popover-foreground: 265 56% 12%;
        --primary: 328 82% 52%;
        --primary-foreground: 0 0% 100%;
        --secondary: 0 0% 96%;
        --secondary-foreground: 265 56% 12%;
        --muted: 0 0% 90%;
        --muted-foreground: 215 14% 46%;
        --accent: 322 66% 56%;
        --accent-foreground: 265 56% 12%;
        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 100%;
        --border: 0 0% 90%;
        --input: 0 0% 90%;
        --ring: 328 82% 52%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 265 56% 12%;
        --foreground: 0 0% 100%;
        --card: 270 42% 25%;
        --card-foreground: 0 0% 100%;
        --popover: 265 56% 12%;
        --popover-foreground: 0 0% 100%;
        --primary: 328 82% 52%;
        --primary-foreground: 0 0% 100%;
        --secondary: 270 42% 25%;
        --secondary-foreground: 0 0% 100%;
        --muted: 263 44% 20%;
        --muted-foreground: 215 14% 84%;
        --accent: 322 66% 56%;
        --accent-foreground: 0 0% 100%;
        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 100%;
        --border: 272 40% 27%;
        --input: 270 42% 25%;
        --ring: 328 82% 52%;
    }
}